<html>
    <body>
        <h1 style="text-align:center;"> Hi, NAMEFUNCTIONREMOVED. Welcome to the Tic-Tac-Toe server!</h1>
        <div style="margin:auto; width:40%; text-align: center;">
            <form action="/index">
            Please choose a cell:
                <input type="radio" id="1" name="cell_choice" value="Top-left">
                <label for="1">1</label>
                <input type="radio" id="2" name="cell_choice" value="Top-centre">
                <label for="2">2</label>
                <input type="radio" id="3" name="cell_choice" value="Top-right">
                <label for="3">3</label>
                <input type="radio" id="4" name="cell_choice" value="Centre-left">
                <label for="4">4</label>
                <input type="radio" id="5" name="cell_choice" value="Centre">
                <label for="5">5</label>
                <input type="radio" id="6" name="cell_choice" value="Centre-right">
                <label for="6">6</label>
                <input type="radio" id="7" name="cell_choice" value="Bottom-left">
                <label for="7">7</label>
                <input type="radio" id="8" name="cell_choice" value="Bottom-centre">
                <label for="8">8</label>
                <input type="radio" id="9" name="cell_choice" value="Bottom-right">
                <label for="9">9</label>
                <input type="submit" value="submit">
            </form>
        </div>
        <% if @cell_choice %>
            <h2 style="text-align:center;">You have chosen <%= @cell_choice %>!<h2>
        <% end %>
        <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            font-size: 2em;
        }
        table {
            height: 10em;
            width: 10em;
            margin: auto;
        }
        th, td {
            width: 33%;
            height: 33%;
        }
        input {
            margin-top:3em;
        }
        </style>
        <table>
            <tr>
                <% if @cell_choice == "Top-left" %>
                    <td>X</td>
                    <% else %>
                    <td>-</td>
                <% end %>
                <% if @cell_choice == "Top-centre" %>
                    <td>X</td>
                    <% else %>
                    <td>-</td>
                <% end %>
                <% if @cell_choice == "Top-right" %>
                    <td>X</td>
                    <% else %>
                    <td>-</td>
                <% end %>
            </tr>
            <tr>
                <% if @cell_choice == "Centre-left" %>
                    <td>X</td>
                    <% else %>
                    <td>-</td>
                <% end %>
                <% if @cell_choice == "Centre" %>
                    <td>X</td>
                    <% else %>
                    <td>-</td>
                <% end %>
                <% if @cell_choice == "Centre-right" %>
                    <td>X</td>
                    <% else %>
                    <td>-</td>
                <% end %>
            </tr>
            <tr>
            <% if @cell_choice == "Bottom-left" %>
                <td>X</td>
                <% else %>
                <td>-</td>
            <% end %>
            <% if @cell_choice == "Bottom-centre" %>
                <td>X</td>
                <% else %>
                <td>-</td>
            <% end %>
            <% if @cell_choice == "Bottom-right" %>
                <td>X</td>
                <% else %>
                <td>-</td>
            <% end %>
            </tr>
        </table>
    </body>
</html>