<html>
    <body>
        <h1 style="text-align:center;"> Hi, NAMEFUNCTIONREMOVED. Welcome to the Tic-Tac-Toe server!</h1>
        <div style="margin:auto; width:30%; text-align: center;">
            <p>Please provide a cell reference (1-9)</p>
            <form action="/sinatra_me.rb">
            Cell:
                <input type="radio" id="1" name="cell_choice" value="Top-left">
                <label for="1">1</label>
                <input type="radio" id="2" name="cell_choice" value="Top-centre">
                <label for="2">2</label>
                <input type="radio" id="3" name="cell_choice" value="Top-right">
                <label for="3">3</label>
                <input type="radio" id="4" name="cell_choice" value="Centre-left">
                <label for="4">4</label>
                <input type="radio" id="5" name="cell_choice" value="Centre">
                <label for="5">5</label>
                <input type="radio" id="6" name="cell_choice" value="Centre-right">
                <label for="6">6</label>
                <input type="radio" id="7" name="cell_choice" value="Bottom-left">
                <label for="7">7</label>
                <input type="radio" id="8" name="cell_choice" value="Bottom-centre">
                <label for="8">8</label>
                <input type="radio" id="9" name="cell_choice" value="Bottom-right">
                <label for="9">9</label>
                <input type="submit" value="submit">
            </form>
        </div>
        <% if @cell_choice %>
            <h2 style="text-align:center;">You have chosen <%= @cell_choice %>!<h2>
        <% end %>
        <style>
        table, th, td {
            border: 1px solid black;
            text-align: center;
            font-size: 2em;
        }
        table {
            height: 20em;
            width: 20em;
            margin: auto;
        }
        th, td {
            width: 33%;
            height: 33%;
        }
        input {
            margin-top:3em;
        }
        </style>
        <table>
            <tr>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[0][0]" name="top-left"></form></td>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[0][1]" name="top-center"></form></td>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[0][2]" name="top-right"></form></td>
            </tr>
            <tr>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[1][0]" name="center-left"></form></td>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[1][1]" name="center"></form></td>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[1][2]" name="center-right"></form></td>
            </tr>
            <tr>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[2][0]" name="bottom-left"></form></td>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[2][1]" name="bottom-center"></form></td>
                <td><form action="/sinatra_me.rb" method="post"><input type="button" value="Click Here!" id="[2][2]" name="bottom-right"></form></td>
            </tr>
        </table>
    </body>
</html>